<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; CampSight 2020</span>
        <span class="text-muted">Made by Negan</span>
    </div>
</footer>